#map-canvas {
  height: 300px;
}

h1 {
	color: white;
}

.text-center {
  text-align: center;
}

.text-white {
  color: white;
  font-family: Lucida Sans Unicode; 
}

.box {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.pop-up-box {
	-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
	-webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
	box-shadow: 1px 1px 2px 0 #d0d0d0;
	background: #fff;
	border: 1px solid #ccc;
	border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 20px;
}

.logo {
	clear: both;
	width: 96px;
	margin-left: 47%;
	margin-right: -50%;
  margin-top: 20px;
  postion: center top;
}

body {
  background-color: rgb(57, 80, 162);
}