.firstpage {
	clear: both;
	background-image: url('frontpage.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
	}

.heading {
	color: white !important;
}

.heading:hover {
	color: rgb(14, 204, 78) !important;
	text-decoration: none;
}